.contact-page {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  min-height: 80vh;
  padding: 3vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  background-color: rgba(255, 255, 255, 2%); /* Adjusted for better visibility */
  padding: 2.5vh;
  border-radius: 4vh;
  max-width: 100%;
  height: 60vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items vertically */
}

.contact-header {
  color: white;
  margin-bottom: 3vh; /* Add space below the header */
  font-size: 4vh;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3vh;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh;
    color: white;
    padding: 1vh 1vh;
    border-radius: 2vh;
    font-size: 6vh; /* Adjusted for better readability */
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

.social-link:hover {
    opacity: 0.8;
    transform: scale(1.1); /* Slightly increase size on hover */
}

.icon {
    height: 6vh; /* Adjust the size as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 600px) {
    .contact-page {
        /* Adjust the layout for mobile */
        top: 5%;
        left: 5%;
        width: 90%;
        min-height: 90vh;
    }

    .contact-container {
        /* Adjust the container for mobile */
        margin-top: -25%; /* Adjust this value as needed */
        height: auto; /* Auto height for flexible content */
        max-width: 100%;
        padding-top: 2vh; /* Adjusted padding at the top */
    }

    .contact-header {
        /* Adjust the header font size for mobile */
        font-size: 3vh;
    }

    .social-links {
        /* Adjust the social links layout for mobile */
        flex-direction: column; /* Stack social links vertically */
        width: 100%; /* Use full container width */
    }

    .social-link, .icon {
        font-size: 5vh; /* Increase font size for readability */
        height: 5vh; /* Increase icon size */
    }

    .social-link {
        /* Adjust the social link buttons for mobile */
        margin: 1.3vh 0; /* Adjust margin for stacked layout */
        padding: 1vh 2vh; /* Increase padding for touch targets */
        width: auto; /* Allow the width to adjust based on content */
        flex-grow: 1; /* Allow buttons to grow and fill space */
        text-align: center; /* Center the text and icon */
    }

    .icon {
        /* Adjust the icon size for mobile */
        margin-right: 2vh; /* Adjust margin between icon and text */
    }
}