/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

.home-page body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

/* Loading Animation Styles */
.home-page .loading-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.home-page @keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.home-page .loader {
  font-size: 4vh; /* Responsive font size */
  text-align: center;
  color: white;
  font-family: 'Questrial', sans-serif;
}

.home-page .loadTitleOne, .home-page .loadTitleTwo {
  font-weight: 700;
  display: inline;
  animation: fadeOut 1s ease forwards;
}

.home-page .loadTitleOne {
  animation-delay: 1s;
}

.home-page .loadTitleTwo {
  animation-delay: 2s;
}

/* Center Text Styles */
.home-page .center-text {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .text-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
}

.home-page .me-text, .home-page  .read-more-text {
  font-size: 2.3vh; /* Responsive font size */
  color: white;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.home-page .title, .home-page .subtitle, .home-page .description {
  font-family: 'Plantagenet Cherokee', sans-serif;
  left: 8%;
}

.home-page .title {
  position: absolute;
  top: 30%;
  color: white;
  /*font-size: 10vh;*/
  font-size: calc(3.6vh + 3.6vw);
  font-weight: bold;
}

.home-page .subtitle {
  display: flex; /* Aligns children inline */
  align-items: center; /* Centers items vertically */
  white-space: nowrap; /* Prevents wrapping into multiple lines */
  position: absolute;
  top: 36%;
  color: white;
  /*font-size: 8vh;*/
  font-size: calc(2.9vh + 2.9vw);
}

.home-page .description {
  white-space: pre-line;
  position: absolute;
  top: 55%;
  color: white;
  line-height: 1.5;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  text-align: left;
  /*font-size: 2.3vh;*/
  /*max-width: 100vh;*/
  max-width: calc(20vh + 50vw);  /* Reduced reliance on vh to adjust for reduced height */
  font-size: calc(0.5vh + 1vw); /* Increased vw proportion for consistent font size relative to width */
}

.home-page .home_project_btn_container {
  position: absolute;
  top: 35%;
  right: 1%;
  border-radius: 5vh;

  /* Optional: additional styling */
  width: 47vh; /* Example width */
  height: 60vh; /* Example height */
  /*transform: translate(-50%, -50%); !* Center the element at the specified position *!*/
  padding: 2vh; /* Example padding */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for better visibility */
  display: flex;
  flex-wrap: wrap;
  gap: 2vh; /* Adjust the space between buttons */
  justify-content: flex-start; /* Align buttons to the start */
  align-items: flex-start; /* Align items at the start vertically */
  overflow: hidden; /* Hide overflow */
}

.home-page .home_project_btn {
  width: auto; /* Width determined by content */

  background-color: rgba(255, 255, 255, 50%);
  font-weight: bold;
  border: white 0.3vh solid;
  cursor: pointer;
  border-radius: 2vh;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
  border-color 0.6s cubic-bezier(0.55, 0, 0.1, 1),
  box-shadow 0.7s cubic-bezier(0.55, 0, 0.1, 1),
  background-color 0.3s, transform 0.3s;

  text-align: center; /* Center-align the text */
  height: auto; /* Allow button height to expand */
  align-items: center; /* Center content vertically */

  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  flex: 1 1 auto; /* Allow flexibility in both growing and shrinking */
  min-width: 30%; /* Minimum width of each button, adjust as needed */
  margin: 0.1vh; /* Reduced margin */
  font-size: 4.5vh; /* Reduced font size, adjust as needed */
  padding: 1vh 1vh; /* Adjusted padding, modify as needed */
  text-overflow: ellipsis; /* Add an ellipsis for overflowed text */
  overflow: hidden; /* Hide text overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
}

.home-page .home_project_btn .icon, .home-page .home_project_btn svg {
    height: 5vh; /* Adjust based on your design */
    width: auto; /* Maintain aspect ratio */
    margin-right: 1vh; /* Space between icon and text */
}

.home-page .home_project_btn:hover {
    color: navajowhite;
    border-color: navajowhite;
    transform: scale(1.1); /* Slightly increase size on hover */
}

.home-page .skillText_container {
  top: 30%;
  right: 6%;
  position: absolute;
  width: 40vh;
  height: 6vh;
  text-align: center; /* Center-align the text */
  justify-content: center; /* Center content horizontally */
  display: flex; /* Use flexbox */
  align-items: center; /* Center content vertically */
  font-family: 'Plantagenet Cherokee', sans-serif;
  font-weight: bold;
  font-size: 4vh;
}

.home-page .skillText {
  position: absolute;
  text-align: center;
  color: white;
  font-weight: bold;
}

.home-page .language {
  position: absolute;
  font-size: 3vh;
  bottom: 10%;
  left: 3%;
  zIndex: 1;
  color: white;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
}

.home-page .languages {
  position: absolute;
  bottom: 3%;
  left: 3%;
  color: white;
  font-size: 3vh;
  font-family: 'Questrial', sans-serif;
}

.home-page .hidden {
  opacity: 0;
}

.home-page .read-more-text {
  opacity: 0;
  position: absolute;
}

.home-page .text-container:hover, .home-page  .read-more-text {
  opacity: 1;
}

.home-page .read-more-text:hover {
  text-decoration: underline;
}

/* Image Styles */
.home-page .main-image-one,
.home-page .main-image-two,
.home-page .main-image-three {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 36vh; /* Auto-adjust width to maintain aspect ratio */
  height: 36vh; /* Auto-adjust height to maintain aspect ratio */
}

.home-page .main-image-one {
  top: 50%;
  left: 33%;
}

.home-page .main-image-two {
  top: 30%;
  left: 67%;
}

.home-page .main-image-three {
  top: 73%;
  left: 67%;
}

/* Responsive text size */
@media (max-width: 600px) {
  .home-page .vertical-menu {
    top: 15%;
    left: 3%;
    line-height: 5vh;
    font-size: 4.5vw; /* Larger font for smaller screens */
  }

  .home-page .title {
    top: 4%;
    left: 3%;
    font-size: 4vh; /* Larger font for smaller screens */
  }

  .home-page .subtitle {
    top: 7.5%;
    left: 3%;
    font-size: 2vh; /* Larger font for smaller screens */
  }

  .home-page .me-text, .home-page .read-more-text {
    font-size: 3vh; /* Larger font for smaller screens */
    display: none;
  }

  .home-page .websitePurpose {
    display: none;
  }

  .home-page .description {
    bottom: 3%;
    right: 6%;
    font-size: 2vh; /* Larger font for smaller screens */
    max-width: 20vh;
  }

  .home-page .language {
    bottom: 6%;
    right: 6%;
    font-size: 2vh;
  }

  .home-page .languages {
    bottom: 1.5%;
    right: 6%;
    font-size: 2vh;
  }

  .home-page .main-image-one,
  .home-page .main-image-two,
  .home-page .main-image-three {
    max-width: 50vw;
    max-height: 50vh;
  }

  .home-page #cursor, .home-page #follower {
    display: none;
  }
}

.home-page .subtitle-container {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.home-page .skill-container {
  animation: fadeIn 1s ease;
}

.home-page .fade-out {
  animation: fadeOut 1s ease;
}
