/* Main styling for the projects page */
.projects-page {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%;
    color: white;
    padding: 2vh;
    text-align: center;
}

/* Container for all project cards within the projects page */
.projects-page .container {
    margin: 6% auto; /* Top and bottom margins are 5%, left and right are auto for horizontal centering */
    width: 90%; /* Sets the width of the container */
}

/* Individual project card styling */
.projects-page .project-card {
    padding: 3vh;
    margin: 2vh;
    width: calc(44.4% - 4vh); /* Width specific to projects container */
}

/* Top part of the project card including image and header */
.projects-page .project-top {
    display: flex;
    width: 100%;
}

/* Container for the project image */
.projects-page .project-image-container {
    flex-shrink: 0;
    text-align: start;
    padding-right: 2vh;
}

/* Styling for project images */
.projects-page .project-image, .projects-page .project-image-container img {
    height: 17vh;
    width: auto;
    object-fit: cover;
    padding-left: 2vh;
    padding-right: 1vh;
}

/* Header section of the project card */
.projects-page .project-header {
    font-size: 4vh;
    padding-left: 2vh;
}

/* Title styling within the project header */
.projects-page .project-title {
    text-align: start;
    font-size: 5vh;
    font-weight: bold;
    margin: 0;
}

/* Timeline styling within the project header */
.projects-page .project-timeline {
    text-align: start;
    font-weight: bold;
    font-size: 3vh;
    margin-top: 1.2vh;
}

/* Description section of the project card */
.projects-page .project-description {
    text-align: left;
    font-weight: bold;
    font-size: calc(0.7vw + 1vh);
    margin-top: 0.6vh;
    width: 100%;
}

/* Container for buttons in project card */
.projects-page .project-button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 6%;
}

/* Individual button styling within project cards */
.projects-page .ac_btn, .projects-page .ac_btn .icon, .projects-page .ac_btn svg {
    border-radius: calc(0.5vw + 1vh);
    font-size: calc(10% + (1vw + 1vh));
    height: calc(1vw + 1.3vh); /* Adjust based on your design */
    width: auto; /* Maintain aspect ratio */
    margin-right: 0.7vh; /* Space between icon and text */
}

.projects-page .ac_btn {
    width: auto;
    background-color: rgba(255, 255, 255, 4%);
    font-weight: bold;
    border: white 0.3vh solid;
    cursor: pointer;
    margin: 1.5vh;
    text-decoration: none;
    transition: color 0.6s cubic-bezier(0.55, 0, 0.1, 1),
                border-color 0.6s cubic-bezier(0.55, 0, 0.1, 1),
                box-shadow 0.7s cubic-bezier(0.55, 0, 0.1, 1);
    white-space: normal;
    text-align: center;
    padding: 1.2vh 1.6vh;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.projects-page .ac_btn:hover {
    color: black;
    border-color: black;
    /*box-shadow: inset 0 10vh 0 0 navajowhite, 0.8vh 0.8vh 0 antiquewhite, -0.8vh -0.8vh 0 antiquewhite;*/
}

.projects-page .ac_btn.left-btn {
    margin-right: 2vh;
}

.projects-page .ac_btn.right-btn {
    margin-left: 2vh;
}

.projects-page .ac_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /*color: navajowhite; !* Default text color *!*/
    transition: color 0.3s ease; /* Smooth transition for text color */
}

.projects-page .ac_btn:hover a {
    color: black; /* Text color on hover */
}

.projects-page .ac_btn a .fa-icon, .projects-page .ac_btn a svg { /* Assuming .fa-icon is the class used for FontAwesome icons */
    margin-right: 0.7vh; /* Adjust the space as needed */
}

.projects-page .ac_btn .one, .projects-page .ac_btn .two, .projects-page .ac_btn .three {
    transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 600px) {
    .body {
        /* Adjustments for the body on mobile */
        overflow: hidden; /* Enable vertical scrolling */
    }

    .projects-page {
        /* Adjustments for the main projects page on mobile */
        padding: 2vh 0; /* Adjust padding to have no horizontal padding */
        /*overflow: hidden; !* Disable horizontal scrolling *!*/
    }

    /* Container for all project cards */
    .projects-page .container {
        /* Adjust the container for mobile */
        display: flex;
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align project cards horizontally */
        justify-content: flex-start; /* Align items from the start vertically */
        margin: 5% auto; /* Adjust margin to center the container */
        max-width: 94%; /* Adjust maximum width */
        left: 0; /* Reset left alignment */
        padding-bottom: 10vh;
        /*overflow: auto;*/
    }

    .projects-page .project-card {
        /* Adjust project cards for center alignment */
        max-width: 73%; /* Adjust maximum width */
        width: 100%; /* Full width for each project card */
    }

    .projects-page .project-top {
        /* Adjust the top part of the project card for mobile */
        flex-direction: column; /* Stack elements vertically */
    }

    .projects-page .project-image-container {
        /* Adjust the project image container for mobile */
        text-align: center; /* Center align images */
        padding: 1vh 0; /* Adjust padding */
    }

    .projects-page .project-image, .projects-page .project-image-container img {
        /* Adjust project images for mobile */
        height: 9vh; /* Adjust height for better visibility */
        padding: 0; /* Remove left and right padding */
    }

    .projects-page .project-header {
        /* Adjust project header for mobile */
        font-size: 4vh; /* Smaller font size */
        padding: 0; /* Remove left padding */
    }

    .projects-page .project-title {
        font-size: 3.5vh;
    }

    .projects-page .project-timeline {
        font-size: 2.5vh;
    }

    .projects-page .project-description {
        font-size: 2vh;
    }

    .projects-page .project-title, .projects-page .project-timeline, .projects-page .project-description {
        /* Adjust text alignment for all textual elements */
        text-align: center; /* Center align text */
    }

    .projects-page .project-description {
        /* Adjust text alignment for all textual elements */
        text-align: left; /* Center align text */
    }

    .projects-page .project-button-container {
        /* Adjust button container for mobile */
        grid-template-columns: 1fr; /* Single column layout */
        justify-content: center; /* Center the grid items */
        width: 100%; /* Full width */
        margin: 2vh 0; /* Adjust margin */
    }

    .projects-page .ac_btn {
        /* Adjust project buttons for mobile */
        font-size: 2.5vh; /* Increase font size for readability */
        padding: 1.5vh 2vh; /* Adjust padding */
        margin: 1vh 0; /* Adjust margin */
    }

    .projects-page.ac_btn .icon, .projects-page .ac_btn svg {
        /* Adjust icon size within buttons */
        height: 3vh; /* Increase icon size */
        margin-right: 1vh; /* Adjust margin */
    }

    /* Adjust back button for mobile */
    .projects-page .back-button {
        font-size: 2.5vh; /* Smaller font size */
        top: 5%; /* Adjust position */
        left: 5%; /* Adjust position */
    }

    .projects-page .back-button-icon {
        font-size: 2.5vh; /* Smaller icon size */
    }
}
